/* ===================================
    Variables
=================================== */
$mytime-blue: #319fb5;
$primary-border: 1px solid lightgray;

/* ===================================
    Mixins
=================================== */
@mixin border-radius($radius) {
	-moz-border-radius: $radius;
		 border-radius: $radius;
}

/* ===================================
    Global
=================================== */
ul {
	padding-left: 0;
}

li { 
	list-style-type: none;
}

a, .glyphicon:not(.glyphicon-search) {
	color: $mytime-blue;
}

a:hover, a:focus {
	text-decoration: none;
}

a:hover, a:focus, .glyphicon:not(.glyphicon-search):hover, .glyphicon:not(.glyphicon-search):focus {
	color: #999;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

/* ===================================
    Nav
=================================== */
.navbar, .navbar-toggle {
	border: none;
}

.navbar {
	background-color: white;
}

.navbar-toggle {
	margin-top: 10px;
}

.icon-bar {
	background-color: $mytime-blue !important;
}

/* ===================================
    Search
=================================== */
h2#search-header {
	font-weight: 100;
	left: 130px;
	letter-spacing: 2px;
	position: absolute;
	top: -10px;
}

#form-container {
	margin: 0 auto;
	form {
		background-color: #e7e7e7;
		@include border-radius(5px);
		margin-bottom: 10px;
		padding: 10px;
		.glyphicon-search {
			color: #999;
			&:hover {
				color: $mytime-blue;
			}
		}
		input {
			background-color: #e7e7e7;
			border: none;
			font-size: 20px;
			font-weight: 200;
			letter-spacing: 1px;
			width: 315px;
		}
	}
}

.filter-n-map-container {
	border-bottom: 2px solid lightgray;
	text-align: center;
	&:first-child {
		border-left: $primary-border;
		border-right: $primary-border;
		border-top: $primary-border;
	}
	&:last-child {
		border-right: $primary-border;
		border-top: $primary-border;
	}
	h3.filter-n-map-header {
		display: inline-block;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 0;
		margin-left: 3px;
		margin-top: 0;
		padding-bottom: 15px;
		padding-top: 15px;
	}
}

/* ===================================
    Results
=================================== */
#results-background {
	background-color: #e7e7e7;
	padding-top: 15px;
	width: 100%;
	#col-xs-7 {
		padding-left: 0;
	}
	#col-xs-5 {
		padding-right: 0;
	} 
	#results-container {
		background-color: white;
		height: 140px;
	}
	#results-container.first {
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
	}
	#photo {
		border-top-left-radius: 10px;
	}
	#results-container.second {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		padding-left: 10px;
		padding-top: 10px;
	}
	#photo {
		margin-bottom: 15px;
	}
	.yelp-rating {
		margin-bottom: 30px;
	}
	ul.business-data {
		margin-bottom: 31px;
		h3.business-data {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 0;
			margin-top: 0;
			// padding-right: 10px;
			// padding-top: 10px;
			&:not(.first) {
				font-weight: 200;
			}
			&.last {
				font-weight: bold;
				margin-top: 3px;
			}
			.glyphicon-flash {
				color: #DAA520 !important;
			}
			span#blue {
				color: $mytime-blue !important;
			}
			span#sale {
				background-color: red;
				@include border-radius(6px);
				color: white;
				font-weight: normal;
				letter-spacing: 2px;
				padding-bottom: 2px;
				padding-left: 8px;
				padding-right: 8px;
				padding-top: 2px;
				text-transform: uppercase;
			}
		}
	}
}
