/* ===================================
    Variables
=================================== */
/* ===================================
    Global
=================================== */
ul {
  padding-left: 0; }

li {
  list-style-type: none; }

a, .glyphicon:not(.glyphicon-search) {
  color: #319fb5; }

a:hover, a:focus {
  text-decoration: none; }

a:hover, a:focus, .glyphicon:not(.glyphicon-search):hover, .glyphicon:not(.glyphicon-search):focus {
  color: #999;
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

/* ===================================
    Nav
=================================== */
.navbar, .navbar-toggle {
  border: none; }

.navbar {
  background-color: white; }

.navbar-toggle {
  margin-top: 10px; }

.icon-bar {
  background-color: #319fb5 !important; }

/* ===================================
    Search
=================================== */
h2#search-header {
  font-weight: 100;
  left: 130px;
  letter-spacing: 2px;
  position: absolute;
  top: -10px; }

#form-container {
  margin: 0 auto; }
  #form-container form {
    background-color: #e7e7e7;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px; }
    #form-container form .glyphicon-search {
      color: #999; }
      #form-container form .glyphicon-search:hover {
        color: #319fb5; }
    #form-container form input {
      background-color: #e7e7e7;
      border: none;
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 1px;
      width: 315px; }

.filter-n-map-container {
  border-bottom: 2px solid lightgray;
  margin-bottom: 15px;
  text-align: center; }
  .filter-n-map-container:first-child {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray; }
  .filter-n-map-container:last-child {
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray; }
  .filter-n-map-container h3.filter-n-map-header {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 3px;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px; }

/* ===================================
    Results
=================================== */
#img-n-name-container img {
  margin-bottom: 15px; }

h3.business-data-header {
  font-size: 14px;
  margin-bottom: 15px; }
  h3.business-data-header.first {
    margin-top: 0; }
  h3.business-data-header:not(.first) {
    font-weight: 200;
    margin-top: -15px; }
