/* ===================================
    Variables
=================================== */
/* ===================================
    Mixins
=================================== */
/* ===================================
    Global
=================================== */
ul {
  padding-left: 0; }

li {
  list-style-type: none; }

a, .glyphicon:not(.glyphicon-search) {
  color: #319fb5; }

a:hover, a:focus {
  text-decoration: none; }

a:hover, a:focus, .glyphicon:not(.glyphicon-search):hover, .glyphicon:not(.glyphicon-search):focus {
  color: #999;
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

/* ===================================
    Nav
=================================== */
.navbar, .navbar-toggle {
  border: none; }

.navbar {
  background-color: white; }

.navbar-toggle {
  margin-top: 10px; }

.icon-bar {
  background-color: #319fb5 !important; }

/* ===================================
    Search
=================================== */
h2#search-header {
  font-weight: 100;
  left: 130px;
  letter-spacing: 2px;
  position: absolute;
  top: -10px; }

#form-container {
  margin: 0 auto; }
  #form-container form {
    background-color: #e7e7e7;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px; }
    #form-container form .glyphicon-search {
      color: #999; }
      #form-container form .glyphicon-search:hover {
        color: #319fb5; }
    #form-container form input {
      background-color: #e7e7e7;
      border: none;
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 1px;
      width: 315px; }

.filter-n-map-container {
  border-bottom: 2px solid lightgray;
  text-align: center; }
  .filter-n-map-container:first-child {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray; }
  .filter-n-map-container:last-child {
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray; }
  .filter-n-map-container h3.filter-n-map-header {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 3px;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px; }

/* ===================================
    Results
=================================== */
#results-background {
  background-color: #e7e7e7;
  padding-top: 15px;
  width: 100%; }
  #results-background #col-xs-7 {
    padding-left: 0; }
  #results-background #col-xs-5 {
    padding-right: 0; }
  #results-background .results-container {
    background-color: white;
    height: 140px;
    margin-bottom: 15px; }
    #results-background .results-container.first {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px; }
    #results-background .results-container img:first-child {
      border-top-left-radius: 10px;
      margin-bottom: 15px; }
    #results-background .results-container.second {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-left: 10px;
      padding-top: 10px; }
    #results-background .results-container #yelp-rating, #results-background .results-container #yelp-logo {
      margin-bottom: 30px; }
    #results-background .results-container #yelp-rating {
      margin-left: 15px; }
    #results-background .results-container #yelp-logo {
      margin-left: 2px; }
    #results-background .results-container ul.business-data {
      margin-bottom: 31px; }
      #results-background .results-container ul.business-data h3.business-data {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 0; }
        #results-background .results-container ul.business-data h3.business-data:not(.first) {
          font-weight: 200; }
        #results-background .results-container ul.business-data h3.business-data.last {
          font-weight: bold;
          margin-top: 3px; }
        #results-background .results-container ul.business-data h3.business-data .glyphicon-flash {
          color: #DAA520 !important; }
        #results-background .results-container ul.business-data h3.business-data span#blue {
          color: #319fb5 !important; }
        #results-background .results-container ul.business-data h3.business-data span#sale {
          background-color: red;
          -moz-border-radius: 6px;
          border-radius: 6px;
          color: white;
          font-weight: normal;
          letter-spacing: 1.5px;
          padding: 2px 8px;
          text-transform: uppercase; }
