/* ===================================
    Global
=================================== */
a, .glyphicon:not(.glyphicon-search) {
	color: #48D1CC;
}

/*img {
	max-width: 100%;
	height: auto;
}*/

li { 
	list-style-type: none;
}

a:hover, a:focus {
	text-decoration: none;
}

a:hover, a:focus, .glyphicon:not(.glyphicon-search):hover, .glyphicon:not(.glyphicon-search):focus {
	color: #999;
	cursor: pointer;
}

/* ===================================
    Nav
=================================== */
.navbar {
	background-color: white;
	border: none;
}

.navbar-toggle {
	border: none;
	margin-top: 10px;
}

.navbar-toggle:hover {
	background-color: #e7e7e7 !important;
}

.icon-bar {
	background-color: #48D1CC !important;
}


/* ===================================
    Search
=================================== */
#search-header {
	font-weight: 100;
	left: 130px;
	letter-spacing: 2px;
	position: absolute;
	top: -10px;
}

#form-container {
	margin: 0 auto;
}

form {
	background-color: #e7e7e7;
	-moz-border-radius: 5px;
		 border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: left;
	width: 100%;
}

.glyphicon-search {
	color: #999;
}

.glyphicon-search:hover {
	color: #48D1CC;
}

input {
	background-color: #e7e7e7;
	border: none;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 1px;
	width: 315px;
}

.filter-n-map-container {
	border-bottom: 2px solid lightgray;
	margin-bottom: 15px;
	text-align: center;
}

.filter-n-map-container:first-child {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-top: 1px solid lightgray;
}

.filter-n-map-container:last-child {
	border-right: 1px solid lightgray;
	border-top: 1px solid lightgray;
}

.filter-n-map-header {
	display: inline-block;
	font-weight: 400;
	margin-bottom: 0;
	margin-left: 3px;
	margin-top: 0;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}

.filter-n-map-header, .business-name {
	font-size: 20px;
}

